name: CI

on: [push, pull_request]

jobs:
  test-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Don't test pypy3.10, it currently is broken on GitHub Actions.
        # re-enable once PyYAML can be installed again. See #225
        python-version: ["3.7", "3.12", "pypy3.10"]
        include:
          - python-version: 3.7
            coverage: "--cov=rebench"
    name: "Ubuntu-latest: Python ${{ matrix.python-version }}"
    steps:
      - name: Checkout ReBench
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install PyTest
        run: pip install pytest

      - name: Install coverage and coveralls
        run: pip install pytest-cov coveralls
        if: matrix.coverage

      - name: Install ReBench dependencies
        run: pip install .

      - name: Run tests
        run: |
          pytest ${{ matrix.coverage }}
          (cd rebench && rebench ../rebench.conf e:TestRunner2)

      - name: Install and run pylint
        run: |
          pip install pylint
          pylint rebench
        if: matrix.python-version == '3.12'

      - name: Upload coverage results to Coveralls
        run: coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        if: ${{ matrix.coverage && env.COVERALLS_REPO_TOKEN != '' }}

  test-macos:
    runs-on: macos-latest
    name: "macOS: Python 3.11"
    steps:
      - name: Checkout ReBench
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install PyTest
        run: pip install pytest

      - name: Install ReBench dependencies
        run: pip install .

      - name: Run tests
        run: |
          python -m pytest
          (cd rebench && rebench ../rebench.conf e:TestRunner2)

  test-docker:
    name: "Docker: python:3"
    runs-on: ubuntu-latest
    container:
      image: python:3

    steps:
      - name: Check for dockerenv file
        run: (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)

      - name: Install Time Command
        run: |
          apt-get update
          apt-get install -y --no-install-recommends time

      - name: Checkout ReBench
        uses: actions/checkout@v4

      - name: Install PyTest
        run: pip3 install pytest

      - name: Install ReBench dependencies
        run: pip3 install .

      - name: Run Test Run
        run: (cd rebench && rebench -D ../rebench.conf e:TestRunner2)

      - name: Run Unit Tests
        run: python3 -m pytest
